.border-top,
.border-bottom {
   width: 100%;
   height: 32px;
}

.border-top {
   background-image: url(../src/assets/images/borderTop.png);
}

.border-bottom {
   background-image: url(../src/assets/images/borderBottom.png);
   position: absolute;
   bottom: 0;
}
