.welcome-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
   position: relative;
}

.welcome-title {
   font-family: 'Germania One';
   font-size: 45px;
   line-height: 42px;
   text-align: center;
   color: #ffffff;
   margin: 145px 0 31px 0;
}

.welcome-title-bold {
   color: #da8b14;
   border-bottom: 4px dashed #da8b14;
}

.welcome-logo {
   background-image: url(../../assets/images/swords.png);
   width: 60px;
   height: 60px;
   margin-bottom: 20px;
}

.welcome-text {
   font-family: 'Roboto Mono';
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   color: #efb55e;
   margin-bottom: 60px;
   padding: 0 40px;
}
